<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConvicartWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <environment include="Development">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/CartStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConvicartWebApp.styles.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Srini.min.css" />
    </environment>

</head>
<body>
    @if (Context.Session.GetString("CustomerId") != null)
    {
        <!-- Render Header1 if CustomerId exists -->
        @await Html.PartialAsync("_header")
    }
    else
    {
        <!-- Render Header2 if CustomerId does not exist -->
        @await Html.PartialAsync("_headerBeforeLogin")
    }
    <div class="baset">
        
        @if (ViewContext.RouteData.Values["controller"].ToString() == "Orders" || ViewContext.RouteData.Values["controller"].ToString() == "Cart" || ViewContext.RouteData.Values["controller"].ToString() == "Store" ||
         ViewContext.RouteData.Values["controller"].ToString() == "Customer" &&
        ViewContext.RouteData.Values["action"].ToString() == "Profile")
        {
            <div>
                @Html.Partial("_VerticalSideNav")
            </div>
        }

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @Html.Partial("_footer")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
