@model ConvicartWebApp.PresentationLayer.ViewModels.ChangePasswordViewModel;
<style>
    .container{
        align-items:center;
    }
    form{
        width:auto;
        padding:10px;
    }
</style>
<h2 style="margin-top:20px;width:fit-content;">Change Password</h2>
<h4>The Default Password is "Change Password".</h4>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password" required />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" type="password" required />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
