@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2 style="margin-top:40px; margin-left:30%;">Forgot Password Confirmation</h2>
<p style="margin-left:30%;">If your email is registered, a password reset code has been sent to your email.</p>

<script type="text/javascript">
    // Optionally auto-redirect to ResetPassword page after 5 seconds
    setTimeout(function () {
        window.location.href = '@Url.Action("ResetPassword", "Customer")';
    }, 5000);
</script>

