@model Customer
@{
    ViewBag.Title = "Forgot Password";
}

<h2 style="margin-top:40px; margin-left:30%;">Forgot Password</h2>
<p style="margin-left:30%;">Please enter your email address to reset your password.</p>

<form asp-action="ForgotPassword" method="post" style="margin-left:30%">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:20px;">Submit</button>
</form>
