@{
    ViewBag.Title = "Password Reset Confirmation";
}

<h2 style="margin-top:40px; margin-left:30%;">Password Reset Successful</h2>
<p style="margin-left:30%;">Your password has been successfully reset. You can now log in with your new password.</p>
